*{
  font-size: 1.1rem;
}
.logoTelefono{
  width: 100px;
  margin-top: 80px;
}
.titulo-tamano{
  font-weight: bold;
}
input::placeholder{
  font-size: 1.3rem;
}
.margin-top{
  margin-top: 40px;
  position: relative;
}
.iconotama{
  width: 25px;
  position: absolute;
  left: 0px;
}
.ubicnombre{
  top: 16px;
}

.ubicemail{
  top: 80px;
}
.ubiccontrass{
  position: absolute;
  left: 0px;
  top: 136px;
  width: 20px;
}
#crearcuenta{
  margin-top: 30px;
  background-color: #fbd43b;
}
